<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rwilgaard.alfred.forgejo-search</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>AUTH-SCRIPT-UID-000001-000002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AUTH-NOTIF-UID-000001-000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BACK-ARG-UID-0001-0002-0003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CALL-REPOS-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CALL-ISSUES-UID-0001-0002-0003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ISSUES-SF-UID-0001-0002-0003-004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CALL-PULLS-UID-0001-0002-0003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>PULLS-SF-UID-0001-0002-0003-0004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CLEARAUTH-ARG-UID-00000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>LIST-SF-UID-0001-0002-0003-0004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ERROR-COND-UID-000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CALL-CLEARAUTH-UID-000001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ERROR-COND-CLEARAUTH-OUT</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ERROR-TEXT-UID-000001-000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ERROR-EXT-TRIG-UID-00001-00002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ERROR-SF-UID-00001-00002-00003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ERROR-SF-UID-00001-00002-00003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ERROR-COND-UID-000001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ISSUES-SF-UID-0001-0002-0003-004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>MAIN-COND-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>LIST-SF-UID-0001-0002-0003-0004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CALL-ISSUES-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CALL-PULLS-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>MAIN-COND-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CLIPBOARD-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CLIPBOARD-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>MAIN-COND-UID-0001-0002-0003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AUTH-SCRIPT-UID-000001-000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>COND-AUTH-OUT-UID-000001</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BACK-ARG-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>COND-BACK-OUT-UID-000001</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>OPEN-URL-UID-00001-00002-00003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>PULLS-SF-UID-0001-0002-0003-0004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>MAIN-COND-UID-0001-0002-0003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rasmus Wilgaard</string>
	<key>description</key>
	<string>Search for repositories, issues, and pull requests in Forgejo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Forgejo Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching issues...</string>
				<key>script</key>
				<string>./alfred-forgejo-search issues "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open issues</string>
				<key>title</key>
				<string>Issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>show_issues</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ISSUES-SF-UID-0001-0002-0003-004</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-forgejo-search auth</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AUTH-SCRIPT-UID-000001-000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Forgejo Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AUTH-NOTIF-UID-000001-000002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_issues</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CALL-ISSUES-UID-0001-0002-0003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_pulls</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CALL-PULLS-UID-0001-0002-0003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:repo_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading repositories...</string>
				<key>script</key>
				<string>./alfred-forgejo-search list "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search your Forgejo repositories</string>
				<key>title</key>
				<string>Search Forgejo Repositories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>show_repos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>LIST-SF-UID-0001-0002-0003-0004</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_repos</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CALL-REPOS-UID-0001-0002-0003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>auth</string>
						<key>outputlabel</key>
						<string>auth</string>
						<key>uid</key>
						<string>COND-AUTH-OUT-UID-000001</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>back</string>
						<key>uid</key>
						<string>COND-BACK-OUT-UID-000001</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>MAIN-COND-UID-0001-0002-0003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>workflow:clearauth</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>clearauth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CLEARAUTH-ARG-UID-00000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:list_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BACK-ARG-UID-0001-0002-0003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:item_url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>OPEN-URL-UID-00001-00002-00003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching pull requests...</string>
				<key>script</key>
				<string>./alfred-forgejo-search pulls "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open pull requests</string>
				<key>title</key>
				<string>Pull Requests</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>show_pulls</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>PULLS-SF-UID-0001-0002-0003-0004</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CLIPBOARD-UID-0001-0002-0003</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>clearauth</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CALL-CLEARAUTH-UID-000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./error.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ERROR-SF-UID-00001-00002-00003</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clearauth</string>
						<key>outputlabel</key>
						<string>clearauth</string>
						<key>uid</key>
						<string>ERROR-COND-CLEARAUTH-OUT</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>show error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ERROR-COND-UID-000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>error_msg</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ERROR-EXT-TRIG-UID-00001-00002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>Error Message</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>ERROR-TEXT-UID-000001-000002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Forgejo Search

Search for repositories, issues, and pull requests in your Forgejo instance. Also compatible with Gitea.

## Setup

1. Set `forgejo_url` in workflow configuration to your Forgejo/Gitea instance URL (no trailing slash).
2. Trigger `fg` and press ⏎ on "You're not logged in" to authenticate with your API token.

## Creating an API token

1. Go to your instance → Settings → Applications
2. Enter a token name (e.g. `alfred`)
3. Enable **Issue → Read**, **Repository → Read**, and **User → Read**
4. Click Generate Token and copy it — it won't be shown again

## Keyword

- `{var:repo_keyword}` — Search your Forgejo repositories

## Actions on a repository

- `⏎` — Open repository in browser
- `⌘⏎` — Copy HTTPS clone URL to clipboard
- `⌥⏎` — Copy SSH clone URL to clipboard
- `⌃⏎` — Show open issues for this repository
- `⇧⏎` — Show open pull requests for this repository

## Actions on an issue or pull request

- `⏎` — Open in browser
- Select `← owner/repo` to go back to repository list (restores previous search query)

## Configuration

- `forgejo_url` — Base URL of your Forgejo/Gitea instance
- `repo_keyword` — Alfred keyword (default: fg)
- `cache_age` — Repository cache TTL in minutes (default: 360)</string>
	<key>uidata</key>
	<dict>
		<key>AUTH-NOTIF-UID-000001-000002</key>
		<dict>
			<key>xpos</key>
			<real>1280</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>AUTH-SCRIPT-UID-000001-000002</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>BACK-ARG-UID-0001-0002-0003</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>CALL-CLEARAUTH-UID-000001</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>CALL-ISSUES-UID-0001-0002-0003</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>CALL-PULLS-UID-0001-0002-0003</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CALL-REPOS-UID-0001-0002-0003</key>
		<dict>
			<key>xpos</key>
			<real>1280</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CLEARAUTH-ARG-UID-00000001</key>
		<dict>
			<key>note</key>
			<string>Clear Auth</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>CLIPBOARD-UID-0001-0002-0003</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>ERROR-COND-UID-000001</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>ERROR-EXT-TRIG-UID-00001-00002</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>ERROR-SF-UID-00001-00002-00003</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Error handling</string>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>ERROR-TEXT-UID-000001-000002</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>ISSUES-SF-UID-0001-0002-0003-004</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>LIST-SF-UID-0001-0002-0003-0004</key>
		<dict>
			<key>note</key>
			<string>Search</string>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>MAIN-COND-UID-0001-0002-0003</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>OPEN-URL-UID-00001-00002-00003</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>PULLS-SF-UID-0001-0002-0003-0004</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://forgejo.example.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Base URL of your Forgejo instance (no trailing slash)</string>
			<key>label</key>
			<string>Forgejo URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>forgejo_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>fg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for listing your repositories</string>
			<key>label</key>
			<string>Repos keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>repo_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>360</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Max age in minutes before the repository cache is refreshed</string>
			<key>label</key>
			<string>Cache age (minutes)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cache_age</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>github.com/rwilgaard/alfred-forgejo-search</string>
</dict>
</plist>
